Sub MergeWorkbooks()

   Dim FileSet

   Dim i As Integer

   On Error GoTo 0

   Application.ScreenUpdating = False

   FileSet = Application.GetOpenFilename(FileFilter:="Excel 2003(*.xls),*.xls,Excel 2007(*.xlsx),*.xlsx", _

                                           MultiSelect:=True, Title:="选择要合并的文件")

   If TypeName(FileSet) = "Boolean" Then

       GoTo ExitSub

   End If

   For Each Filename In FileSet

Workbooks.Open Filename

       Sheets().Move After:=ThisWorkbook.Sheets(ThisWorkbook.Sheets.Count)

   Next

ExitSub:

   Application.ScreenUpdating = True

End Sub


Sub 工作薄间工作表合并()
Dim FileOpen
Dim X As Integer
Application.ScreenUpdating = False
FileOpen = Application.GetOpenFilename(FileFilter:="Microsoft Excel文件(*.xls),*.xls", MultiSelect:=True, Title:="合并工作薄")
X = 1
While X <= UBound(FileOpen)
Workbooks.Open Filename:=FileOpen(X)
Sheets().Move After:=ThisWorkbook.Sheets(ThisWorkbook.Sheets.Count)
X = X + 1
Wend
ExitHandler:
Application.ScreenUpdating = True
Exit Sub
errhadler:
MsgBox Err.Description
End Sub




